#carousel-images {

	height: 40vh;

}


.card a img {

	height: 200px;
	width: 200px;
	/*display: inline-flex;*/

}

a i {

	color: black;

}

.backg {
	background-image: url(https://i.imgur.com/nM8DPeE.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	background-attachment: fixed;

	}

span {
	outline: 2px dashed black;
}

#fb, #tw, #pi, #gl {
	border-radius: 100px
}

html {
	overflow-x: hidden;
}

/*body {
	background-color: #000000;
}